<h2>Here are all the restaurants that serve @Model["cuisine"].GetCuisineType() food.</h2>

  @if (@Model["restaurants"].Count == 0)
  {
    <p>No Restaurants serving @Model["cuisine"].GetCuisineType() food have been added!</p>
  }
  else
  {
    <ol>
      @foreach (var restaurant in @Model["restaurants"])
      {
        <li>@restaurant.GetName()</li>
      }
    </ol>
  }
  <p><a href="/restaurants/new">Add a new restaurant</a></p>
  <p><a href="/">Return to Main Page</a></p>
